---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";

const blogs = await Astro.glob("../content/blogs/*.md");
// 最新文章
const sortedBlogs = blogs
    .sort((a, b) => b.frontmatter.id - a.frontmatter.id)
    .slice(0, 12);
---

<Layout title="loong博客">
    <main>
        <Header title="loong博客" />
        <ul role="list" class="link-card-grid">
            {
                sortedBlogs.map((blog) => (
                    <Card
                        id={blog.frontmatter.id}
                        title={blog.frontmatter.title}
                        date={blog.frontmatter.date}
                        image={blog.frontmatter.image}
                        tags={blog.frontmatter.tags}
                        mediaTransitionName={`media-image-${blog.frontmatter.id}`}
                    />
                ))
            }
        </ul>
        <div class="flex items-center justify-end">
            <button
                class="py-12 font-bold text-white uppercase align-middle transition-all rounded-lg"
                type="button"
            >
                <a class="link" href="/blogs">更多文章</a>
            </button>
        </div>
        <Footer />
    </main>
</Layout>
