---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Pagination from "../../components/Pagination.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";

// 页面大小
export const PAGE_SIZE = 9;

export async function getStaticPaths({
    paginate,
}: {
    paginate: PaginateFunction;
}) {
    const blogs = await getCollection("blogs");
    const sortedPosts = blogs.sort((a, b) => b.data.id - a.data.id);
    return paginate(sortedPosts, {
        pageSize: PAGE_SIZE,
    });
}

const { page } = Astro.props;
---

<Layout title="loong博客">
    <main>
        <Header title="loong博客" />
        <ul role="list" class="link-card-grid">
            {
                page.data.map((blog) => (
                    <Card
                        id={blog.data.id}
                        title={blog.data.title}
                        date={blog.data.date}
                        image={blog.data.image}
                        tags={blog.data.tags}
                        mediaTransitionName={`media-image-${blog.data.id}`}
                    />
                ))
            }
        </ul>
        <Pagination page={page} />
        <Footer />
    </main>
</Layout>
